<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.bean.VoteUserMapper">

	<!-- 使用带日志的ehcache缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 根据用户名和密码查询用户 -->
	<select id="getUserByLogin" resultType="VoteUser" parameterType="java.util.Map">
		select * from voteuser where uname = #{uname} and pwd = #{pwd}
	</select>
	
	<!-- 添加用户，要返回用户的编号 -->
	<insert id="saveUser" parameterType="VoteUser" useGeneratedKeys="true" keyProperty="uid">
		insert into voteuser(uname,pwd) values( #{uname} , #{pwd} )
	</insert>
	
	<!-- 判断用户名是否已经被占用 -->
	<select id="isUsernameExist" resultType="VoteUser" parameterType="VoteUser">
		select * from voteuser where uname = #{uname}
	</select>
	
</mapper>

